.a123
{
    color: black;
    font-size: 15px;
}

.abc
{
    font-size: 30px;
    width: 100%;
}

.copy_right_footer
{
    position:fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
    padding-top: 7px;
    box-shadow: 5px 50px 5px red;
}